<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nightlife </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  </head>
  <body>
    login= <%= login %>
    <button type="button" class="btn btn-default" name="button" disabled>BUTTON</button>
  </body>
</html>
